
/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––

- Rounded user avatars
- Buttons
- Brand Styles

*/

@import url('https://fonts.bunny.net/css2?family=Roboto+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body{
  color: white !important;
  background-color: #202124 !important;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex-direction: column;
  border-left: 0;
  border-right: 0;
  font-family: 'Roboto Mono', monospace !important;
}


/* Rounded avatars
–––––––––––––––––––––––––––––––––––––––––––––––––– */


.rounded-avatar {
  border-radius: 50%;
}



/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.button,
button {
  display: inline-block;
  margin-bottom: 20px;
  padding: 17px;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 5px;
  background-color: #666;
  text-decoration: none;
  color: white !important;
  word-wrap: break-word;
  width: 300px;
 }
button:hover,
.button:focus {
  color: #333;
  border-color: #888;
  outline: 0; }
.button.button-primary {
  color: #FFF;
  filter: brightness(90%) }
.button.button-primary:hover,
.button.button-primary:focus {
  color: #FFF;
  filter: brightness(90%) }


/* Brand Icons
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.icon {
  padding: 0px 8px 3.5px 0px;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);
}
